<div class="application-container">
  <header class="welcome-header">
    <%= image_tag 'praktik-logo.svg', class: 'application-logo-desktop' %>
    <p class="text-lead">
      Новое городское пространство <br>
      для работы, профессионального <br>
      общения и роста, приобретения <br>
      деловых контактов
    </p>
  </header>
</div>

<p class="application-mobile-visible">
  <%= image_tag 'praktik-feature-image-mobile.jpg' %>
</p>

<div class="application-container">

  <p>
    В Петербурге на 7-ой Советской улице открывается креативный кластер «Практик».
    На трех этажах светлого и просторного здания расположатся офисы архитектурных и дизайн-бюро, студии музыкантов и видеопроизводства, рекламные агентства и стартапы.
  </p>
  <p>
    Благодаря просторному двору и стеклянным перегородкам, в здании очень светло. В отличие от большинства подобных проектов, все помещения готовы к сдаче и требуют лишь небольшого косметического ремонта.
  </p>
  <p class="application-mobile-hidden">
    <%= image_tag 'praktik-floor-plan.svg' %>
  </p>
</div>

<p class="application-mobile-visible">
  <%= image_tag 'praktik-floor-plan.svg' %>
</p>

<div class="application-container">
  <p>
    Курирует проект Марк Калинин, основатель самого успешного и долгоживущего петербургского творческого кластера «Тайга» на Дворцовой набережной. Опытная команда проекта создает комфортные условия для продуктивной работы креативного бизнеса и помогает сформировать среду для общения, обмена идеями и деловыми контактами. «Практик» предусматривает не только работу, но и отдых: во дворе откроется кафе с террасой и рекреационной зоной для резидентов, их гостей и клиентов.
  </p>
  <p>
    <%= image_tag 'praktik-available-rooms.svg' %>
  </p>
  <p>
    Мы ждём резидентов: предпринимателей из областей IT, дизайна, архитектуры, видеопроизводства, рекламы, музыкальной и кино-индустрии. Присылайте рассказ о вашем проекте или компании на адрес <a href="mailto:mark@taiga.space">mark@taiga.space</a>. Отбор резидентов производится на конкурсной основе. Мы позаботимся, чтобы у вас были самые лучшие и интересные соседи!
  </p>
  <p class="application-subscribe-button">
    <% email = '"Марк Калинин" <mark@taiga.space>'%>
    <% subject = "Стать резидентом «Практика»" %>
    <%= link_to 'Стать резидентом',
      "mailto:?to=#{email}&subject=#{subject}",
      class: 'text-button' %>
  </p>
</div>
