<!DOCTYPE html>
<html>
<head>
  <title>Практик</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Практик" />
  <meta property="og:description" content="Новое городское пространство для работы, профессионального общения и роста, приобретения деловых контактов" />
  <meta property="og:image" content="<%= image_url 'praktik-feature-image-mobile.jpg' %>" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>
  <div class="application-container">
    <footer class="application-footer">
      Следите за новостями на <%= link_to 'facebook.com/praktik.space', 'https://www.facebook.com/praktik.space/', target: '_blank'%>.
      <br>
      Санкт-Петербург, 7-я Советская, 22, метро Пл. Восстания.
    </footer>
  </div>

</body>
</html>
